<div class="header-logo-container"><img class="header-logo" src="assets/img/join_logo_dark.png" alt=""></div>
<div class="header-headline-container">Kanban Project Management tool</div>
<div class="header-image-container">
  <img src="assets/img/icon_help.png" alt="icon_help" class="icon-help" onclick="window.location.href= 'help.html'" />
  <img onclick="openCloseLogout()" src="assets/img/icon_person.png" alt="icon_person" class="icon-user" />
  <div id="tooltip" class="logout-tooltip" onclick="logout()">Logout</div>
</div>