<img src="assets/img/join_logo_light.png" alt="" />
<div class="nav-container">
  <div class="nav-item" onclick="window.location.href= 'summary.html'"><img src="assets/img/summary_normal.png" alt="" /> <span>Summary</span></div>
  <div class="nav-item" onclick="window.location.href= 'add_task.html'"><img src="assets/img/addtask_normal.png" alt="" /> <span>Add Task</span></div>
  <div class="nav-item" id="problemChild" onclick="window.location.href= 'board.html'"><img src="assets/img/board_normal.png" alt="" /> <span>Board</span></div>
  <div class="nav-item" onclick="window.location.href= 'contacts.html'"><img src="assets/img/icon_vector_contacts.png" alt="" /> <span>Contacts</span></div>
</div>
<div class="nav-container">
  <div class="nav-item legal-notice" onclick="window.location.href= 'legal_notice.html'"><img src="assets/img/icon_legal_notice.png" alt="" /> Legal Notice</div>
</div>
